/* 
====== 
Variables 
======
*/

:root {
    --primaryLightColor: #d4e6a5;
    --primaryColor: #00AA13;
    --primaryDarkColor: #00660B;
    --mainWhite: #fff;
    --offWhite: #f7f7f7;
    --cream: #FDFBF9;
    /* --mainBackground: #f1f5f8; */
    --mainBackground: #f1f8f6;
    --mainOverlay: rgba(35, 10, 36, 0.4);
    --mainBlack: #222;
    --mainDarkGrey: #777777;
    --mainGrey: #ececec;
    --lightGrey: #f3f1f1;
    --darkGrey: #afafaf;
    --mainRed: #bd0303;
    --mainTransition: all 0.3s ease;
    /* --mainSpacing: 0.3rem; */
    --lightShadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.1);
    --darkShadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.2);
    --smBorderRadius: 0.5rem;
    --lgBorderRadius: 1rem;
    --smallWidth: 85vw;
    --maxWidth: 40rem;
    --fullWidth: 1170px;
}


/* 
====== 
Global Styles 
======
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Poppins, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--mainBlack);
    background: var(--mainBackground);
    line-height: 1.4;
    font-size: 1rem;
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--slantedFont);
    /* margin-bottom: 1rem; */
    letter-spacing: var(--mainSpacing);
}


/* p {
    margin-bottom: 1.25rem;
} */

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--mainBlack);
}

img {
    width: 100%;
    display: block;
}


/* 
====== 
Login 
======
*/

.logo-title {
    color: var(--primaryColor);
}

.login-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: calc(100vh/3);
}

.login-wrapper form {
    width: 16rem;
}

.login-wrapper input {
    display: block;
    margin-bottom: 0.5rem;
    width: 100%;
    height: 2rem;
    border: none;
    border-radius: var(--smBorderRadius);
    /* box-shadow: var(--lightShadow); */
    padding: 1rem;
    /* background-color: var(--lightGrey); */
}

.login-wrapper input:focus {
    outline: none !important;
    box-shadow: var(--lightShadow);
}

.login-wrapper button {
    width: 100%;
    margin-top: 0.5rem;
}


/* 
====== 
Navbar 
======
*/

.navbar {
    background: var(--mainWhite);
    height: 4rem;
    display: flex;
    align-items: center;
    box-shadow: var(--lightShadow);
}

.nav-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: var(--smallWidth);
    margin: 0 auto;
    max-width: var(--fullWidth);
}

.nav-links {
    display: flex;
    align-items: center;
}

.nav-links a {
    display: inline-block;
    margin-right: 0.5rem;
    font-weight: 400;
    letter-spacing: 2px;
    font-size: 1.2rem;
    padding: 0.25rem 0.5rem;
    transition: var(--mainTransition);
}

.nav-links a:hover {
    color: var(--primaryColor);
    text-decoration: underline var(--primaryColor) 2px;
    text-underline-offset: 0.5rem;
}

.logo {
    width: 80%;
}

.small {
    object-fit: cover;
    border-radius: 50%;
    height: 40px;
    width: 40px;
}


/* 
====== 
Buttons 
======
*/

.btn,
.btn-primary {
    color: var(--primaryColor);
    border: none;
    padding: 0.45rem 0.8rem;
    display: inline-block;
    transition: var(--mainTransition);
    cursor: pointer;
    font-size: 0.8rem;
    background: transparent;
    border-radius: var(--smBorderRadius);
}

.btn:hover {
    background: var(--primaryColor);
    color: var(--mainWhite);
}

.btn-primary {
    background: var(--primaryColor);
    color: var(--mainWhite)
}

.btn-primary:hover {
    background: var(--primaryDarkColor);
    color: var(--mainWhite)
}


/* 
====== 
Grid Container with Row and Column
======
*/

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

.justify-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.align-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* ROW */

.row {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 20px;
}

.col-xs-12 {
    grid-column: span 12
}

.col-xs-11 {
    grid-column: span 11;
}

.col-xs-10 {
    grid-column: span 10
}

.col-xs-9 {
    grid-column: span 9
}

.col-xs-8 {
    grid-column: span 8
}

.col-xs-7 {
    grid-column: span 7
}

.col-xs-6 {
    grid-column: span 6
}

.col-xs-5 {
    grid-column: span 5
}

.col-xs-4 {
    grid-column: span 4
}

.col-xs-3 {
    grid-column: span 3
}

.col-xs-2 {
    grid-column: span 2
}

.col-xs-1 {
    grid-column: span 1
}

@media (min-width: 768px) {
    .col-sm-12 {
        grid-column: span 12
    }
    .col-sm-11 {
        grid-column: span 11;
    }
    .col-sm-10 {
        grid-column: span 10
    }
    .col-sm-9 {
        grid-column: span 9
    }
    .col-sm-8 {
        grid-column: span 8
    }
    .col-sm-7 {
        grid-column: span 7
    }
    .col-sm-6 {
        grid-column: span 6
    }
    .col-sm-5 {
        grid-column: span 5
    }
    .col-sm-4 {
        grid-column: span 4
    }
    .col-sm-3 {
        grid-column: span 3
    }
    .col-sm-2 {
        grid-column: span 2
    }
    .col-sm-1 {
        grid-column: span 1
    }
}

@media (min-width: 992px) {
    .col-md-12 {
        grid-column: span 12
    }
    .col-md-11 {
        grid-column: span 11;
    }
    .col-md-10 {
        grid-column: span 10
    }
    .col-md-9 {
        grid-column: span 9
    }
    .col-md-8 {
        grid-column: span 8
    }
    .col-md-7 {
        grid-column: span 7
    }
    .col-md-6 {
        grid-column: span 6
    }
    .col-md-5 {
        grid-column: span 5
    }
    .col-md-4 {
        grid-column: span 4
    }
    .col-md-3 {
        grid-column: span 3
    }
    .col-md-2 {
        grid-column: span 2
    }
    .col-md-1 {
        grid-column: span 1
    }
}

@media (min-width: 1200px) {
    .col-lg-12 {
        grid-column: span 12
    }
    .col-lg-11 {
        grid-column: span 11;
    }
    .col-lg-10 {
        grid-column: span 10
    }
    .col-lg-9 {
        grid-column: span 9
    }
    .col-lg-8 {
        grid-column: span 8
    }
    .col-lg-7 {
        grid-column: span 7
    }
    .col-lg-6 {
        grid-column: span 6
    }
    .col-lg-5 {
        grid-column: span 5
    }
    .col-lg-4 {
        grid-column: span 4
    }
    .col-lg-3 {
        grid-column: span 3
    }
    .col-lg-2 {
        grid-column: span 2
    }
    .col-lg-1 {
        grid-column: span 1
    }
}


/* 
====== 
About
======
*/

.about-section {
    width: var(--smallWidth);
    max-width: var(--fullWidth);
    margin: 0 auto;
}

.about-section p {
    line-height: 2rem;
    font-weight: 400;
}


/* 
====== 
Profile
======
*/

.profile-section {
    width: var(--smallWidth);
    max-width: var(--fullWidth);
    margin: 0 auto;
}

.profile-section p {
    line-height: 2rem;
    font-weight: 400;
}

img.rounded {
    object-fit: cover;
    border-radius: 50%;
    height: 100px;
    width: 100px;
}

.achieve-cards-center {
    display: grid;
    margin: 0 auto;
    column-gap: 1rem;
}

@media screen and (min-width: 576px) {
    .achieve-cards-center {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr))
    }
}

.achieve-card {
    background: var(--mainWhite);
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    box-shadow: var(--lightShadow);
    transition: var(--mainTransition);
    border-radius: var(--lgBorderRadius);
    padding: 1rem;
}

.achieve-card:hover {
    box-shadow: var(--darkShadow);
}

.icon {
    height: 50px;
    width: 50px;
}

.achieve-card h3 {
    font-size: 36px;
}


/* 
====== 
Error
======
*/

.error-page {
    display: flex;
    justify-content: center;
}

.error-container {
    text-align: center;
}


/* 
====== 
Cards List 
======
*/

.section {
    padding: 2rem 0 1rem 0;
}

.section-title {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.cards-center {
    display: grid;
    width: var(--smallWidth);
    max-width: var(--fullWidth);
    margin: 0 auto;
    row-gap: 2rem;
    column-gap: 2rem;
}

@media screen and (min-width: 576px) {
    .cards-center {
        grid-template-columns: repeat(auto-fill, minmax(338.8px, 1fr))
    }
}


/* 
====== 
Card 
======
*/

.section-material {
    display: flex;
    flex-direction: column;
}

.card {
    background: var(--mainWhite);
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    box-shadow: var(--lightShadow);
    transition: var(--mainTransition);
    display: grid;
    grid-template-rows: auto 1fr;
    border-radius: var(--lgBorderRadius);
    justify-content: center;
}

.card:hover {
    box-shadow: var(--darkShadow);
}

.card-instruction {
    padding-top: 1rem;
}

.card-title {
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
    /* font-size: 1rem; */
}

.card img {
    height: 15rem;
    border-radius: var(--lgBorderRadius);
    border: 1px solid var(--primaryColor);
}

.card-footer {
    padding: 1rem;
    text-align: center;
}

.card-footer h3,
.card-footer h4 {
    margin-bottom: 0.3rem;
    text-align: center;
}

.card-footer h3 {
    font-size: 1rem;
}

.card-footer p {
    font-weight: 400;
    margin-bottom: 5px;
}


/* 
====== 
Vocab
======
*/

.vocab-card {
    background: var(--mainWhite);
    margin: 1rem 0;
    box-shadow: var(--lightShadow);
    transition: var(--mainTransition);
    display: grid;
    grid-template-rows: auto 1fr;
    border-radius: var(--lgBorderRadius);
    padding: 1em 5em;
    /* justify-content: center; */
}

.vocab-card-title {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 0;
}

.vocab-card img {
    height: 30rem;
    border-radius: var(--lgBorderRadius);
    border: 1px solid var(--primaryColor);
}

.model {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.model-container {
    display: flex;
    flex-direction: column;
}

.model-player {
    height: 450px;
    width: 450px;
}

@media (max-width: 768px) {
    .model-player {
        width: 280px;
    }
}

.model-controls {
    margin: 1rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.model-controls .play-pause {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-right: 0.75rem;
    font-size: 1.5em;
    color: var(--primaryColor);
    transition: var(--mainTransition);
}

.model-controls .play-pause:hover {
    filter: brightness(0.8);
}

.model-controls input[type="range"] {
    appearance: none;
    flex-grow: 1;
    height: 10px;
    border-radius: 5px;
    background: var(--mainGrey);
}

.model-controls input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
    background: var(--primaryColor);
    transition: var(--mainTransition);
}

.model-controls input[type="range"]::-webkit-slider-thumb:hover {
    filter: brightness(0.8);
}

.prev-btn,
.next-btn {
    color: var(--primaryColor);
    font-size: 1.25rem;
    background: transparent;
    border-color: transparent;
    margin: 0 0.5rem;
    transition: var(--transition);
    cursor: pointer;
}


/* 
====== 
Convo
======
*/

.convo-card {
    background: var(--mainWhite);
    margin: 1rem;
    box-shadow: var(--lightShadow);
    transition: var(--mainTransition);
    display: flex;
    flex-direction: column;
    /* display: grid; */
    /* grid-template-rows: auto 1fr; */
    border-radius: var(--lgBorderRadius);
    justify-content: center;
    padding-bottom: 1rem;
}

.convo-container {
    display: flex;
    flex-direction: column;
    padding: 1rem 3rem;
}

.model-camera {
    margin-bottom: 1rem;
    margin-top: 2rem;
    /* display: grid; */
    /* grid-template-columns: auto 1fr;
    gap: 1rem; */
    display: flex;
    flex-direction: row;
    /* flex-flow: row wrap; */
    align-items: center;
    border-radius: var(--lgBorderRadius);
    justify-content: center;
    column-gap: 1rem;
    row-gap: 1rem;
    /* padding: 1.5rem; */
}

.model-camera img {
    height: 15rem;
    width: 20rem;
    border-radius: var(--lgBorderRadius);
    border: 1px solid var(--primaryColor);
    /* display: block; */
}

@media screen and (max-width: 650px) {
    .model-camera {
        grid-template-rows: auto;
        grid-template-columns: none;
    }
}

.sentence-gloss {
    display: flex;
    flex-direction: column;
    text-align: center;
    /* background-color: var(--lightGrey); */
    background-color: var(--mainGrey);
    border-radius: var(--smBorderRadius);
    padding-top: 1.5rem;
    z-index: 1;
}

.gloss-section {
    /* display: grid; */
    /* grid-template-columns: auto 1fr; */
    display: flex;
    flex-flow: row wrap;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: calc(50vw);
    text-align: center;
    /* background-color: var(--mainGrey); */
    background-color: var(--lightGrey);
    border-radius: var(--smBorderRadius);
    padding-bottom: 1rem;
    padding-top: 0.5rem;
    margin-top: 0.5rem;
    z-index: 2;
}


/* @media screen and (min-width: 650px) {
    .gloss-section {
        width: calc(50vw)
    }
} */

.gloss {
    background: var(--mainWhite);
    margin: 0.5rem;
    box-shadow: var(--lightShadow);
    border-radius: var(--smBorderRadius);
    padding: 0.5rem;
    font-weight: 400;
}


/* 
====== 
Loading 
======
*/

.loading {
    text-align: center;
    margin-top: 5rem;
}

.lesson-title {
    margin: 40px auto 10px auto;
}


/* 
====== 
Error 
======
*/

.error {
    text-align: center;
    margin-top: calc(100vh/4);
}

/* 
============
Progress Bar
============
*/
.progress-bar {
    background-color: white;
    height: 20px;
    border-radius: 10px;
    box-shadow: var(--lightShadow);
}

.progress-bar .filled {
    background-color: var(--primaryColor);
    height: 100%;
    border-radius: 10px;
    transition: width 0.5s;
}

/* 
====== 
Quiz
======
*/
/* .quiz-question {
    width: 100%;
    position: relative;
}
  
.question-count {
    margin-bottom: 20px;
}

.question-text {
    margin-bottom: 12px;
}

.quiz-answer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
} */

button {
    width: 100%;
    font-size: 16px;
    color: var(--darkGrey);
    background-color: var(--offWhite);
    border-radius: 15px;
    display: flex;
    padding: 5px;
    justify-content: flex-start;
    align-items: center;
    border: 5px solid var(--darkGrey);
    cursor: pointer;
}
  
.correct {
    background-color: var(--primaryColor);
}
  
.incorrect {
    background-color: var(--mainRed);
}
  
.quiz-container button:hover {
    background-color: var(--primaryLightColor);
}
  
.quiz-container button:focus {
    outline: none;
}

.vocab-card .options {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;
    margin: 1em 15em;
}

.vocab-card .options .option-btn {
    display: block;
    color: var(--mainDarkGrey);
    font-weight: bold;
    text-align: center;
    align-items: center;
    background-color: var(--mainWhite);
    border: 4px solid var(--mainDarkGrey);
}

.prev-next-section {
    display: flex;
    justify-content: space-between;
}

.section-btn {
    flex: 0 1 0;
    font-weight: bold;
    color: var(--primaryColor);
    background-color: var(--mainWhite);
    border-radius: 15px;
    padding: 10px;
    border: 4px solid var(--primaryColor);
    cursor: pointer;
}